<html>
    <head>
        <link rel="stylesheet" href="index3_style.css">
        <title>함께혼밥</title>        
    </head>
    <body>
        <div class="container">

            <div id="header">
                <style>
                    li {display: inline; float: right;}
                    a:link {color: grey; text-decoration:none; block; padding: 8px; background-color: white; font-size: small;}
                  </style>
                  <u1>
                    <li><a display="block" href="default.asp">회원가입</a></li>
                    <li><a display="block" href="default.asp">로그인</a></li>
                    <li><a display="block" href="default.asp">고객센터</a></li>
                    <li><a display="block" href="default.asp">혼밥친구 찾기</a></li>
                  </u1>
            </div>


        </div>
    </body>
    <script>

    </script>
</html>